@model PetGrooming.Models.Pet

@{
    ViewBag.Title = "Show";
}

<h2>Show Pet</h2>

<div>Name : @Model.PetName</div>
<div>Weight : @Model.Weight KG</div>
<div>Species : @Model.Species.Name</div>
<div>Color : @Model.Color</div>
<div>Notes : @Model.Notes</div>